
@keyframes slide-in-blurred-left
   0%
      transform: translateX(-1000px) scaleX(2.5) scaleY(0.2)
      opacity: 0

   100%
      transform: translateX(0) scaleY(1) scaleX(1)
      opacity: 1


@keyframes slide-in-blurred-right
   0%
      transform: translateX(1000px) scaleX(2.5) scaleY(0.2)
      opacity: 0

   100%
      transform: translateX(0) scaleY(1) scaleX(1)
      opacity: 1


@keyframes slide-in-fwd-left
   0%
      transform: translateZ(-1400px) translateX(-1000px)
      opacity: 0

   100%
      transform: translateZ(0) translateX(0)
      opacity: 1


.slide-in-blurred-left
   animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both

.slide-in-blurred-right
   animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both

.slide-in-fwd-left
   animation: slide-in-fwd-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

.on-own-position
   transform: translateX(0) !important
   opacity: 1 !important


